.App {
  text-align: center;
}

body {
  background: linear-gradient(136deg, #E8FFF7 20%, #D0B2FF 54%, #C3F5E4 82% );
	background-size: 400% 400%;
	animation: gradient 25s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
